<ul>
<% @event.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<% end %>
</ul>


<%= form_for(@event) do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>

  <%= f.label :description %>
<<<<<<< Updated upstream
  <%= f.text_area :description %>
  <br>

  <%= f.label :capacity %>
  <%= f.text_field :capacity %>
  <br>

  <%= f.label :start_at %>
  <%= f.date_field :start_at %>
  <br>

  <%= f.label :end_at %>
  <%= f.date_field :end_at %>
=======
  <%= f.text_field :description %>
  <br>

  <%= f.label :start_at %>
  <%= f.date_select :start_at %>
  <br>

  <%= f.label :end_at %>
  <%= f.date_select :end_at %>

  <%= f.label :capacity %>
  <%= f.text_field :capacity %>
>>>>>>> Stashed changes
  <br>

  <%= f.submit class: "button radius" %>

<% end %>
