<h2>All Events</h2>

<table>
  <thead>
    <tr>
      <td>Title</td>
      <td>Description</td>
      <td>Capacity</td>
      <td>Start</td>
      <td>End</td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.title, event_path(event) %></td>
        <td><%= event.description %></td>
        <td><%= event.capacity %></td>
        <td><%= event.start_at %></td>
        <td><%= event.end_at %></td>
        <td><%= link_to "edit", edit_event_url(event), class: "button tiny round" %></td>
        <td><%= link_to "delete", event, method: :delete, class: "button tiny alert round" %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>

<%= link_to "Add new", new_event_path, class: "button radius" %>
