<ul>
<% @company.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<% end %>
</ul>


<%= form_for(@company) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>

  <%= f.label :industry %>
  <%= f.select :industry, options_for_select([['Choose...', ''], 'finance', 'tech']) %>
  <br>

  <%= f.label :employee_count %>
  <%= f.text_field :employee_count %>
  <br>

  <%= f.label :join_date %>
  <%= f.date_field :join_date %>
  <br>


  <%= f.submit class: "button radius" %>

<% end %>
