<h1>Blue Companies</h1>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Industry</td>
      <td>Employees</td>
      <td>Joined</td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= link_to company.name, company_path(company) %></td>
        <td><%= company.industry %></td>
        <td><%= company.employee_count %></td>
        <td><%= company.join_date %></td>
        <td><%= link_to "edit", edit_company_url(company) %></td>
        <td><%= link_to "delete", company, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>

<%= link_to "Add new", new_company_path %>
