<h2>Add a new company</h2>

<%= form_for(@company) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>

  <%= f.label :industry %>
  <%= f.text_field :industry %>
  <br>

  <%= f.label :employee_count %>
  <%= f.text_field :employee_count %>
  <br>

  <%= f.label :join_date %>
  <%= f.date_select :join_date %>
  <br>

  <%= f.submit %>

<% end %>
