This is the show page

<h3>Company</h3>

<ul>
  <li>Name: <%= @company.name %></li>
  <li>Industry: <%= @company.industry %></li>
  <li>Employees: <%= @company.employee_count %></li>
  <li>Joined: <%= @company.join_date %></li>
</ul>

<hr>
<h3>Members</h3>

<ul>
<% @company.members.each do |member| %>
  <li>
    name: <%= member.name %> -
    <%= link_to "show", company_member_path(@company, member) %>
    <%= link_to "edit", edit_company_member_path(@company, member) %>
    <%= link_to "delete", company_member_path(@company, member), method: :delete %>
  </li>
<% end %>
</ul>

<br>
<%= link_to "add new member", new_company_member_path(@company) %>
