This is the show page

<h3>Company</h3>

<ul>
  <li>Name: <%= @company.name %></li>
  <li>Industry: <%= @company.industry %></li>
  <li>Employees: <%= @company.employee_count %></li>
  <li>Joined: <%= @company.join_date %></li>
</ul>

<hr>
<h3>Members</h3>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Title</td>
      <td>Email</td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @company.members.each do |member| %>
      <tr>
        <td><%= link_to member.name, company_member_path(@company, member) %></td>
        <td><%= member.title %></td>
        <td><%= member.email %></td>
        <td><%= link_to "edit", edit_company_member_path(@company, member) , class: "button tiny round" %></td>
        <td><%= link_to "delete", company_member_path(@company, member), method: :delete, class: "button tiny alert round" %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>

<%= link_to "Add new", new_company_member_path(@company), class: "button radius" %>
